alias vb='cd $HOME/Code/development; vagrant ssh'
alias vu='cd $HOME/Code/development; vagrant up; cd -'
alias vh='cd $HOME/Code/development; vagrant halt; cd -'
alias vr='cd $HOME/Code/development; vagrant reload; cd -'
alias vs='cd $HOME/Code/development; vagrant status; cd -'
alias site='cd $HOME/Code/site'
alias store='cd $HOME/Code/anyperk-store'
alias s='cd $HOME/Code/site'
alias ss='subl .'
alias ff='find . -name'
alias dev='cd $HOME/Code/development'
alias gs='git status -s'
alias rc='bin/rails c'
alias rs='bin/rails s'
alias specs='bin/rspec spec/'
